In [10]:
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize

In [12]:
streaming_one = json.load(open("/Users/dominik/Desktop/spotify_data/StreamingHistory0.json"))
streaming_two = json.load(open("/Users/dominik/Desktop/spotify_data/StreamingHistory1.json"))

In [13]:
history_df = pd.DataFrame(columns=["endTime", "artistName", "trackName", "msPlayed"])

In [14]:
history_df = history_df.append(streaming_one, ignore_index=True)
history_df = history_df.append(streaming_two, ignore_index=True)
history_df["sec_played"] = history_df["msPlayed"]/1000
history_df = history_df.drop(["msPlayed"], axis=1)

In [7]:
history_df

,endTime,artistName,trackName,sec_played
0,2021-09-30 16:45,Arcade Fire,Supersymmetry,80.88
1,2021-10-01 11:49,Kizo,UTWÓR Z OKAZJI DWÓCH MILIONÓW NA SPOTIFY - Kiz...,37.184
2,2021-10-01 11:54,JAY-Z,Caught Their Eyes,206.133
3,2021-10-01 11:57,Travis Scott,sdp interlude,191.622
4,2021-10-01 11:59,Genesis Owusu,Waitin' on Ya,97.408
...,...,...,...,...
15754,2022-10-01 21:44,Arctic Monkeys,Star Treatment,321.701
15755,2022-10-01 21:48,Arctic Monkeys,One Point Perspective,206.684
15756,2022-10-01 21:51,Arctic Monkeys,American Sports,156.547
15757,2022-10-01 21:54,Arctic Monkeys,Tranquility Base Hotel & Casino,210.094
15758,2022-10-01 21:56,Arctic Monkeys,Golden Trunks,85.471

In [8]:
history_df.groupby("artistName").agg(sum_sec=("sec_played", sum))

                     sum_sec
artistName
$NOT                 915.650
$ilkMoney            110.929
00110100 01010100    345.285
070 Beheard          225.960
070 Shake          70205.971
...                      ...
СОЮЗ                   0.000
佐井好子                 162.899
缺省                     2.275
鈴木 弘                2236.262
박혜진 Park Hye Jin     352.158

[1634 rows x 1 columns]

In [9]:
history_df.to_csv("spotify_data/streaming_history_concat.csv")